* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #1e1e1e;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newBookBtn {
    display: flex;
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 20px;
    border: 0px;
    cursor: pointer;
    background-color: rgb(226, 226, 226);
    color: #1e1e1e;
    position: relative;
    left: 99px;
}

.bookCounter {
  margin-left: 100px;
  font-size: 2.5rem;
  color: white;
  position: relative;
  left: 70px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
  gap: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -180px;
  border-radius: 20px;
  font-size: 2rem;
  background-color: grey;
  opacity: 0;
  pointer-events: none;
}

.input > div > label {
  display: flex;
  justify-content: center;
}

.input > div > input {
    font-size: 1.4rem;
    justify-content: center;
    border-radius: 10px;
    border: 0px;
    margin-top: 5px;
    padding: 10px;
    height: 15px;
}

.bottomDiv {
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.readBtn {
  transform: scale(2.5);
  margin-left: 20px;
}

.authorInput,
.bookNameInput,
.pagesInput {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.btn1 {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  cursor: pointer;
}

.bookContainer {
  display: grid;
  justify-content: center;
}

.bookContainer {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(6, 1fr);
  gap: 90px;
  justify-self: center;
  margin-right: 50px;
}

.bookDiv {
  display: flex;
  flex-direction: column-reverse;
  width: 250px;
  font-size: 1.5rem;
  height: 300px;
  border-radius: 10px;
  align-items: center;
  color: #1e1e1e;
  background-color: rgb(228, 228, 228);
  gap: 30px;
}

.closeBtn {
font-size: 1.5rem;
margin-top: -20px;
margin-bottom: 20px;
cursor: pointer;

}

.title {
font-weight: 900;
}

.pages {
  display: flex;
  justify-content: center;
}

.author {
  display: flex;
  justify-content: center;
}

.readButton {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #F44A26;
}